@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(240.56deg, #9AF8E7 5.07%, rgba(58, 158, 201, 0.75) 94.79%);
}

#login {
    display: flex;
    flex-direction: column;

    width: 1000px;
    height: 550px;

    background: url(.png), rgba(21, 1, 255, 0.1);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
}

#criar_conta {
    width: 400px;
    height: 550px;

    background: linear-gradient(197.39deg, rgba(221, 219, 242, 0.61) 0%, rgba(8, 243, 32, 0.5185) 100%);
    border-radius: 30px 0px 0px 30px;
}

#realiza_login {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 399px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(21, 1, 255, 0.02);
    border-radius: 0px 30px 30px 0px;
}

.circulos * {
    position: absolute;
    width: 1000px;
    height: 1000px;
}

#circulo1 {
    left: -611px;
    top: -87px;
    background: linear-gradient(206.45deg, #A272E0 17.54%, rgba(62, 191, 114, 0.91) 74.46%);
    border-radius: 50%;
}

#circulo2 {
    left: -168px;
    top: -95.65px;
    background: linear-gradient(216.97deg, rgba(255, 7, 201, 0.81) 18.99%, rgba(135, 62, 169, 0.54) 43.5%, rgba(207, 253, 23, 0.74) 72.5%);
    border-radius: 50%;
}

button,
input {
    cursor: pointer;
}

button {
    border: none;
    outline: none;
}

#alterar_tela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;

    position: absolute;
    width: 77px;
    height: 77px;
    left: 36.1%;
    top: 50%;

    background: rgba(255, 255, 255, 0.90);
    border-radius: 60px;
}

#alterar_tela img {
    width: 40px;
    height: 22px;
}

#seta_esquerda {
    transform: scaleX(-1);
}

#alterar_tela:hover {
    background: rgba(255, 255, 255, 0.90);
    border-radius: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.586);


    #seta_esquerda {
        margin-right: 2px;
    }

    #seta_direita {
        margin-left: 3px;
    }
}



#criar_conta_msg {
    position: absolute;
    width: 347px;
    height: 58px;
    left: 33px;
    top: 155px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #313056;
}

#msg_novo_login {
    position: absolute;
    width: 347px;
    height: 44px;
    left: 38px;
    top: 80px;

    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.065em;
    color: #313056;
}

#linha_novo_login {
    position: absolute;
    width: 95.13px;
    height: 0px;
    left: 25px;
    top: 152.5px;

    border: 1.5px solid #000000;
    transform: rotate(180deg);
}

#criar_conta_btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 13px 10px 22px;
    gap: 20px;

    position: absolute;
    width: 230px;
    height: 55px;
    left: 85px;
    top: 340px;

    background: linear-gradient(90deg, rgba(212, 38, 255, 0.5) 0%, rgba(183, 223, 69, 0.415) 95.83%);
    border: 0.0001px solid #000000;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 60px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #313056;
    cursor: pointer;

}

#criar_conta_btn:hover {
    background: linear-gradient(90deg, rgba(212, 38, 255, 0.5) 0%, rgba(183, 223, 69, 0.415) 95.83%);
    border: 0.5px solid #000000;
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.4);
    border-radius: 60px;
}

.referentes_a_senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

#botao_lembrar_senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#botao_lembrar_senha input {
    width: 20px;
    height: 20px;

    border: 1px solid #3A00E5;
}

#botao_lembrar_senha label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;

    color: #313056;
}

#realiza_login_msg {
    width: 411px;
    height: 58px;
    padding-top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 0.15em;
    color: #313056;
}

.entradas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#email,
#senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 350px;
    height: 55px;

    background: rgba(255, 255, 255, 0.655);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
}

:is(#email, #senha) input {
    width: 260px;
    height: 55px;

    background: rgba(255, 255, 255, 0);
    border-radius: 60px;

    border: none;
    outline: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #313056;

    left: 10px;
}


:is(#senha, #email) input::placeholder {
    width: 130px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;

    letter-spacing: 0.25em;

    color: #313056;
}

#senha input::-ms-reveal {

    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 3px currentColor;
}

#email input,
:is(#senha input::-ms-reveal, #senha input)::hover {
    cursor: pointer;
}

:is(#email, #senha) img {
    width: 30px;
    height: 22px;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#realiza_login_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 13px 10px 22px;
    gap: 20px;

    width: 230px;
    height: 55px;

    background: #313056;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.649);
    border-radius: 60px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;

    letter-spacing: 0.4rem;
    cursor: pointer;
}

#realiza_login_btn:hover {
    background: #313056;
    box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.896);
    border-radius: 60px;
}

#esqueceu_senha {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #211e80;
}

#esqueceu_senha:hover {
    color: #211e80;
    text-decoration: underline;
    cursor: pointer;
}

#login_via_google {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#linha_divisoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#linha_esquerda {
    width: 150px;
    height: 0px;

    border: 2px solid #000000;
    transform: rotate(180deg);
}

#linha_direita {
    width: 150px;
    height: 0px;

    border: 2px solid #000000;
    transform: rotate(180deg);

}

#icon_google {
    width: 25px;
    height: 25px;
}

#logo_google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;

    background: rgba(255, 255, 255, 0.34);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
}

#logo_google:hover {
    background: rgba(255, 255, 255, 0.34);
    box-shadow: -1px 1px 5px rgba(224, 206, 206, 0.548);
    border-radius: 60px;
    cursor: pointer;
}