@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes circulo1 {
    100% {
        left: -461px;
    }
}

@keyframes circulo2 {
    100% {
        left: -138px;
        top: -95.65px;
    }
}

@keyframes circulo3 {
    100% {
        left: 83%;
    }
}

@keyframes circulo4 {
    100% {
        left: 64%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.circulos#login #circulo1 {
    animation: circulo1 5s ease-in-out forwards;
}

.circulos#login #circulo2 {
    animation: circulo2 5s ease-in-out forwards;
}

.circulos#login #circulo3 {
    animation-name: float, circulo3;
    animation-duration: 3s, 5s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.circulos#login #circulo4 {
    animation-name: float, circulo4;
    animation-duration: 3s, 5s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#criar_conta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;

    background: linear-gradient(197.39deg, rgba(221, 219, 242, 0.61) 0%, rgba(8, 243, 32, 0.5185) 100%);
    border-radius: 30px 0px 0px 30px;
}

#realiza_login {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(21, 1, 255, 0.02);
    border-radius: 0px 30px 30px 0px;
}


#alterar_tela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    position: absolute;
    width: 75px;
    height: 75px;
    left: 36.1%;
    top: 50%;

    background: rgba(255, 255, 255, 0.90);
    border-radius: 60px;
}

#alterar_tela img {
    width: 40px;
    height: 20px;
}

#seta_esquerda {
    transform: scaleX(-1);
}

#alterar_tela:hover {
    background: rgba(255, 255, 255, 0.90);
    border-radius: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.586);

    #seta_esquerda {
        margin-right: 2px;
    }

    #seta_direita {
        margin-left: 3px;
    }
}

#criar_conta_msg {
    position: absolute;
    width: 22vw;
    height: 10vw;
    left: 3%;
    top: 27.5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    letter-spacing: 0.02em;
    color: #313056;
}

#msg_novo_login {
    position: absolute;
    left: 3%;
    top: 14.1%;

    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 30px;
    line-height: 3.2vw;
    letter-spacing: 0.065em;
    color: #313056;
}

#linha_novo_login {
    position: absolute;
    width: 65px;
    left: 2%;
    top: 27.3%;

    border: 1px solid #000000;
    transform: rotate(180deg);
}

:is(#criar_conta_btn_to_840px, #criar_conta_btn) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 13px 10px 22px;
    gap: 20px;

    background: linear-gradient(90deg, rgba(212, 38, 255, 0.5) 0%, rgba(183, 223, 69, 0.415) 95.83%);
    border: 0.0001px solid #000000;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 60px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #313056;
}

#criar_conta_btn {
    position: absolute;
    width: 8em;
    height: 2.4em;
    left: 10%;
    top: 70%;
}

:is(#criar_conta_btn, #criar_conta_btn_to_840px):hover {
    background: linear-gradient(90deg, rgba(212, 38, 255, 0.5) 0%, rgba(183, 223, 69, 0.415) 95.83%);
    border: 0.5px solid #000000;
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.4);
    border-radius: 60px;
}

#criar_conta_btn_to_840px {
    display: none;
}

.referentes_a_senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    margin-left: 1vw;
}

#realiza_login #botao_lembrar_senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#realiza_login #botao_lembrar_senha input {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
}

#realiza_login #botao_lembrar_senha label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6vw;
    letter-spacing: 0.02em;

    color: #313056;
}

#realiza_login_msg {
    display: flex;
    padding-top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 3.2vw;
    letter-spacing: 0.15em;
    color: #313056;
}

.entradas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#email,
#senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    padding-left: 15px;

    width: 24em;
    height: 3.3em;

    background: rgba(255, 255, 255, 0.655);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
}

:is(#email, #senha) input {

    display: grid;
    place-items: center;

    height: 80%;

    background: rgba(255, 255, 255, 0);
    border-radius: 60px;

    border: none;
    outline: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.8vw;

    color: #313056;
}


:is(#senha, #email) input::placeholder {
    width: 8vw;
    height: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.6vw;

    letter-spacing: 0.25em;

    color: #313056;
}

#senha input::-ms-reveal {
    filter: drop-shadow(1px 1px 1px currentColor);
}

:is(#email, #senha) img {
    width: 1.9em;
    height: 1.6em;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2vw;
}

#realiza_login_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 13px 10px 22px;
    gap: 1vw;

    width: 10em;
    height: 2.7em;

    background: #313056;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.649);
    border-radius: 60px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.6vw;

    color: #FFFFFF;

    letter-spacing: 0.4rem;
}

#realiza_login_btn:hover {
    background: #313056;
    box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.896);
    border-radius: 60px;
}

#esqueceu_senha {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.8vw;

    color: #211e80;
}

#esqueceu_senha:hover {
    color: #8a1a99;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0.5px #211e80);
}

#login_via_google {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#linha_divisoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#linha_esquerda {
    width: 10em;
    height: 0px;

    border: 1px solid #000000;
    transform: rotate(180deg);
}

#linha_direita {
    width: 10em;
    height: 0px;

    border: 1px solid #000000;
    transform: rotate(180deg);

}

#icon_google {
    width: 2em;
    height: 2em;
}

#logo_google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;

    background: rgba(255, 255, 255, 0.34);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
}

#logo_google:hover {
    background: rgba(255, 255, 255, 0.34);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.407);
    border-radius: 60px;
}

@media (max-width: 1060px) {

    #realiza_login_msg {
        padding-top: 38px;
        font-size: 25px;
        line-height: 30px;
    }

    .referentes_a_senha {
        gap: 50px;
    }

    #inputs {
        gap: 15px;
    }

    #email,
    #senha {
        gap: 20px;
        padding-left: 10px;

        width: 300px;
        height: 45px;
    }

    :is(#email, #senha) input {
        height: 45px;
    }

    :is(#email, #senha) input::placeholder {
        width: 100px;
        height: 20px;

        font-size: 16px;
        line-height: 20px;
    }

    #senha input::-ms-reveal {
        filter: drop-shadow(1px 1px 1px currentColor);
    }

    #botoes {
        gap: 15px;
    }

    #realiza_login_btn {
        padding: 10px 13px 10px 22px;
        gap: 10px;

        width: 200px;
        height: 45px;

        font-size: 18px;
        line-height: 25px;
    }

    #esqueceu_senha {
        font-size: 15px;
        line-height: 20px;
    }

    #realiza_login #botao_lembrar_senha label {
        font-size: 15px;
    }

    #realiza_login #botao_lembrar_senha input {
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
    }

    #login_via_google {
        gap: 10px;
    }

    #linha_divisoria {
        gap: 5px;
    }

    #linha_esquerda {
        width: 100px;
        height: 0px;

        border: 1px solid #000000;
    }

    #linha_direita {
        width: 100px;
        height: 0px;

        border: 1px solid #000000;
    }

    #icon_google {
        width: 20px;
        height: 20px;
    }

    #logo_google {
        width: 35px;
        height: 35px;
    }

    #logo_google:hover {
        background: rgba(255, 255, 255, 0.34);
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.407);
        border-radius: 60px;
    }

    #msg_novo_login {
        font-size: 24px;
    }

    #linha_novo_login {
        width: 50.13px;
        left: 34px;
        top: 136.9px;
    }

    #criar_conta_msg {
        font-size: 12px;
        width: 19em;
    }

    #criar_conta_btn {
        left: 68px;
        top: 340px;
        width: 160px;
        height: 45px;
        font-size: 18px;
        line-height: 25px;
    }

    #alterar_tela {
        position: absolute;
        width: 67px;
        height: 67px;
        left: 36%;
        top: 50%;
    }

    #alterar_tela img {
        width: 30px;
        height: 17px;
    }

}

@media (max-width: 840px) {

    .circulos#login * {
        animation: float 6s ease-in-out infinite;
    }

    #realiza_login_msg {
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 25px;
        line-height: 30px;
    }

    #inputs {
        gap: 22px;
    }

    #realiza_login {
        width: 100%;
    }

    #esqueceu_senha,
    #realiza_login #botao_lembrar_senha label {
        font-size: 13.5px;
        margin: 5px;
    }

    .referentes_a_senha {
        gap: 50px;
    }

    #botoes {
        padding-top: 5px;
        padding-bottom: 15px;
    }

    #ou {
        font-size: 14px;
    }

    #realiza_login_btn {
        width: 130px;
        height: 40px;

        font-size: 13px;
    }

    #linha_divisoria {
        gap: 17px;
    }

    #criar_conta,
    #alterar_tela {
        display: none;
    }

    #criar_conta_btn_to_840px {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 40px;
        font-size: 16px;
    }

    #botoes_entrar_e_cria_conta {
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding-top: 20px;
    }
}

@media (max-width: 450px) {


    #realiza_login {
        width: 80%;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }

    #realiza_login_msg {
        font-size: 1.3em;
        line-height: 25px;
    }

    #inputs {
        gap: .7em;
    }

    #esqueceu_senha,
    #realiza_login #botao_lembrar_senha label {
        font-size: .5em;
    }

    #realiza_login #botao_lembrar_senha {
        gap: 0px;
    }

    #realiza_login #botao_lembrar_senha input {
        width: .9em;
        margin: 0px;
        margin-bottom: 3px;
    }

    .referentes_a_senha {
        gap: 1em;
    }

    #ou {
        font-size: .8em;
    }

    #linha_esquerda,
    #linha_direita {
        width: 2.5em;
    }

    #realiza_login_btn {
        width: 11em;
        height: 3.5em;

        font-size: .5em;
        font-weight: 1000;
    }

    #linha_divisoria {
        gap: .5em;
    }

    #criar_conta,
    #alterar_tela {
        display: none;
    }

    #criar_conta_btn_to_840px {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        width: 7.5em;
        height: 2.5em;
        font-size: .65em;
        font-weight: 1000;
    }

    #botoes_entrar_e_cria_conta {
        gap: 10px;
    }

    #email,
    #senha {
        width: 65vw;
        height: 1.8em;
        gap: .4em;
    }

    :is(#email, #senha) img {
        width: 6vw;
        height: 4.5vw;
    }

    :is(#email, #senha) input {
        font-size: .6em;
    }

    :is(#email, #senha) input::placeholder {
        font-size: 1em;
    }

    #login_via_google {
        padding: 0px;
        margin: 0px;
    }

    #login_via_google img {
        width: 1.3em;
        height: 1.3em;
    }
}